<!DOCTYPE html>
<html>
<head>
  <title>_Cl_IDE_guide_</title>
  <%= stylesheet_link_tag    "clides", :media => "all" %>
  <%= javascript_include_tag "clides" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
